# Core Libraries
opencv-python
numpy
torch
torchvision
torchaudio
ultralytics
deep-sort-realtime
flask
flask-sqlalchemy
flask-cors
#sqlite3
facenet-pytorch
scikit-learn
easyocr
#openpose-python

# Real-Time Streaming
flask-socketio
eventlet
gevent
gevent-websocket

# Cloud Storage & API
boto3
google-cloud-storage
firebase-admin
requests

# Alert Notifications
twilio
#smtplib
pushbullet.py

# AI Model Optimization
onnx
onnxruntime
nvidia-pyindex
nvidia-tensorrt
tensorrt

# Graph Database
neo4j
py2neo

# Performance Optimization
multiprocessing
asyncio
threading
concurrent.futures






opencv-python
numpy
torch
torchvision
torchaudio
ultralytics
deep-sort-realtime
flask
flask-sqlalchemy
flask-cors
sqlite3
facenet-pytorch
scikit-learn
easyocr
openpose-python



flask-socketio
flask-wtf
flask-login
flask-bootstrap
eventlet
gevent
gevent-websocket




boto3
google-cloud-storage
firebase-admin
requests



twilio
smtplib
pushbullet.py



onnx
onnxruntime
nvidia-pyindex
nvidia-tensorrt
tensorrt



neo4j
py2neo


multiprocessing
asyncio
threading
concurrent.futures


